{% extends 'admin/change_list.html' %}

{% block stylesheets %}
    {{ block.super }}
    <style>
        .column-institution, .field-institution {
            max-width: 300px;
            word-wrap: break-word;
        }

        .column-data, .field-data {
            max-width: 250px;
            word-wrap: break-word;
        }

        .column-comment, .field-comment {
            min-width: 350px;
        }

        table.grp-table {
            table-layout: fixed;
        }

        .column-link_to_case {
            min-width: 350px;
        }

        .sortable.column-data.sorted.descending {
            max-width: 170px;
        }
    </style>
{% endblock %}
