version: '3.4'

services:
  nginx:
    # https://hub.docker.com/_/nginx
    image: nginx:1.17.9-alpine
    ports:
      - "8000:8000"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static:/static
      - media:/media
    depends_on:
      - backend

  db:
    # https://hub.docker.com/_/postgres
    image: postgres:12.2-alpine
    expose:
      - "5432"
    volumes:
      - ./backend-project/contrib/docker/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro
      # /var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'pass'

  backend:
    build:
      context: ./backend-project
      target: dev
    depends_on:
      - db
    volumes:
      - ./backend-project:/code
      - static:/code/static
      - media:/code/media
    environment:
      DATABASE_URL: postgres://user:pass@db:5432/small_eod
      MINIO_ACCESS_KEY: test
      MINIO_SECRET_KEY: test8chars
      MINIO_URL: http://minio:9000
      # SECRET_KEY
      # DJANGO_ALLOWED_HOSTS
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend-project
    volumes:
      - ./frontend-project:/code
    expose:
      - "8000"

  minio:
    # https://hub.docker.com/r/minio/minio/
    image: minio/minio:RELEASE.2020-01-16T22-40-29Z
    ports:
      - "9000:9000"
    expose:
      - 9000
    command: server /data
    volumes:
      - ./dev-data/minio:/data
    environment:
      MINIO_ACCESS_KEY: test
      MINIO_SECRET_KEY: test8chars

volumes:
  static:
  media:
