version: '3.4'

services:
  db:
    # https://hub.docker.com/_/postgres
    image: postgres:12.5-alpine@sha256:35efa4561d8e40f10b87e3767f0cbf10d779ac6c14191e9d5c9c174b751e2df0
    expose:
      - "5432"
    volumes:
      - ./backend-project/contrib/docker/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro
      # /var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'pass'

  backend:
    build:
      context: ./backend-project
      target: dev
    depends_on:
      - db
    volumes:
      - ./backend-project:/code
      - static:/code/static
      - media:/code/media
      - ./docs:/docs
    environment:
      DATABASE_URL: postgres://user:pass@db:5432/small_eod
      MINIO_ACCESS_KEY: test
      MINIO_SECRET_KEY: test8chars
      MINIO_URL: http://minio:9000
      SOCIAL_AUTH_GOOGLE_OAUTH2_KEY: "x-x.apps.googleusercontent.com"
      SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET: "x-puMp99EjG7"
      # SECRET_KEY
      # DJANGO_ALLOWED_HOSTS
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend-project
    environment:
      COMMIT_SHA: '${COMMIT_SHA:-unknown_sha}'
      COMMIT_BRANCH: '${COMMIT_BRANCH:-unknown_branch}'
    volumes:
      - ./frontend-project:/code
    ports:
      - "8000:8000"
    expose:
      - "8000"

  minio:
    # https://hub.docker.com/r/minio/minio/
    image: minio/minio:RELEASE.2020-01-16T22-40-29Z@sha256:6ea470e8fa46b4f86230bd44fc6b7f1dd4f7ca04c5d710f98cdfeff7622a55d2
    ports:
      - "9000:9000"
    expose:
      - 9000
    command: server /data
    volumes:
      - ./dev-data/minio:/data
    environment:
      MINIO_ACCESS_KEY: test
      MINIO_SECRET_KEY: test8chars

volumes:
  static:
  media:
