version: '3.4'
services:
  nginx:
    image: nginx:latest
    ports:
      - "8000:8000"
    volumes:
      - ./contrib/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static:/static
      - media:/media
    depends_on:
      - web

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: 'pass'
      MYSQL_ROOT_HOST: '%'
    expose:
      - "3306"
    volumes:
      - ./contrib/docker/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro

  web:
    build:
      context: .
    depends_on:
      - db
    volumes:
      - static:/code/staticfiles
      - media:/code/media
    environment:
      DATABASE_URL: mysql://root:pass@db/small_eod
    expose:
      - "8000"

volumes:
  static:
  media: