name: YAML files

on:
  push:
    paths:
    - 'docs/**'
  pull_request:
    paths:
    - 'docs/**'

jobs:
  lint_speccy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Node 12.x
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Lint with Speccy
      run: |
        find . -name 'swagger.yaml' -print0 | xargs -n 1 npx speccy lint

  lint_openapi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - name: Lint with openapi-spec-validator
      run: |
        pip install openapi-spec-validator
        find . -name 'swagger.yaml' -print0 | xargs -n 1 python -m openapi_spec_validator