name: Django application

on:
  push:
    paths:
    - 'backend-project/**'
    - '.github/**'
    - '**/docker-compose.yml'
  pull_request:
    paths:
    - 'backend-project/**'
    - '.github/**'
    - '**/docker-compose.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Pyupgrade
      run: make pyupgrade
    - name: Lint
      run: make lint
    - name: Build
      run: make build
    - name: Migration check
      run: make check
    - name: Show settings
      run: make settings
    - name: Diff OpenAPI
      run: make diff_openapi
    - name: Test
      run: ./backend-project/contrib/github/script.sh
    - uses: actions/upload-artifact@v1
      with:
        name: openapi.yaml
        path: ./openapi.yaml
    - uses: actions/upload-artifact@v1
      # see https://github.com/actions/upload-artifact/issues/11 
      # for remove duplicated actions
      with:
        name: openapi.json
        path: ./openapi.json
    - name: Docker-compose logs
      run: docker-compose logs
      if: failure()
  push:
    runs-on: ubuntu-latest
    if: "github.ref == 'refs/heads/master'"
    needs:
      - test
    steps:
    - uses: actions/checkout@v1
    - name: Build production image
      run: docker build --target prod -t docker-registry.siecobywatelska.pl/small_eod:latest backend-project/
    - name: "Docker login"
      env:
        DOCKER_REGISTRY_URL: docker-registry.siecobywatelska.pl
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      run: echo "${DOCKER_PASSWORD}" | docker login -u ${DOCKER_USERNAME} --password-stdin ${DOCKER_REGISTRY_URL}
    - name: Push image
      run: docker push docker-registry.siecobywatelska.pl/small_eod:latest
