name: Django application

on:
  push:
    paths:
    - 'backend-project/**'
  pull_request:
    paths:
    - 'backend-project/**'

jobs:
  django:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Pyupgrade
      run: make pyupgrade
    - name: Lint
      run: make lint
    - name: Build
      run: make build
    - name: Migration check
      run: make check
    - name: Show settings
      run: make settings
    - name: Build & test
      run: ./backend-project/contrib/github/script.sh
